<configuration>
	<appSettings>
		<add key="PluginConnect" value="D:\Desktop\MdiPaint\SobelPlugin\bin\Debug\SobelPlugin.dll;D:\Desktop\MdiPaint\NegativePlugin\bin\Debug\NegativePlugin.dll;D:\Desktop\MdiPaint\ShufflePlugin\bin\Debug\ShufflePlugin.dll;D:\Desktop\MdiPaint\DatePlugin\bin\Debug\DatePlugin.dll" />		
	</appSettings>
</configuration>